extends layout
block content
  .pageNormal
    .about
      h1 搭建过程
      .centerLeft
        p
          | 这个网站是我自己用node.js和express在AWS免费实例上面搭建的服务器，配合nginx反向服务器让这个小站和wordpress博客并存。
          br
          | 为了实现这个滚轮翻页效果，我自己做了simplePageScroll插件，您可以到
          a(href="https://github.com/ds009/simplePageScroll",target="_blank") 我的GitHub
          | 查看这个项目，还有一些可以添加的功能我会慢慢去完善。
          br
          | 本站还处在开发过程中，一些东西有待优化，特别是浏览器支持方面，因为要做的事情很多时间紧迫也只好先上线了。
          br
          | 如果您有什么建议，谢谢您联系我。
      h1 为什么要做这个网站
      .centerLeft
        p
          | 最近在找#[span.emphasis 前端工程师]工作，我觉得需要做些什么来证明自己，于是就有了搭建网站的想法。
          br
          | 我不好意思去说什么自己熟练哪门技术，但您可以看到我确实可以独立完成任务。
          br
          | 做这个网站既可以学习node.js这些新技术，也可以帮我熟练以前学过的东西。
          br
          | 顺便说一下就是我也会图片处理的，illustrator和photoshop都可以。