extends layout
block content
  .pageNormal
    .contact
      h1 情况说明
      .centerLeft
        p
          | 非常感谢您的光临，我正在法国巴黎银行集团做毕业实习，准备#[span.emphasis 十月份]回国去#[span.emphasis 深圳]做前端开发工程师的工作。
          br
          | 您可以到我的博客中了解到更多的信息，也可以在
          a(href="http://www.uninion.com/",target="_blank")这里看到我的简历
          br
          | 如果您愿意和我进行电话面试，请您发送邮件到我的邮箱
      h1 联系方式
      .centerLeft
        h3 邮箱:
        p
          |dengshendengshen@gmail.com
          br
          | shen.deng@polytechnique.edu
        h3 电话: 0033 6 37 30 49 84
        h3 Skype: deng-shen