extends layout

block content
  .main
    #slideContainer
      .slide#slide1(data-beforeshow="slide1Before",data-aftershow="slide1After")
        #sea1
        #sea2
        #iceberg
          img(src="images/iceberg.png")
        .textBlock
          .textWrapper
            p
              |您还认为前端只是切图和网页编辑吗？
              br
              |那不过是#[span.emphasis 冰山]一角
      .slide#slide2(data-beforeshow="slide2Before",data-aftershow="slide2After")
        .textBlock
          .textWrapper
            img(src="images/badWebDesign.png")#badDesign
            p
              内涵丰富却布局混乱，访客望而却步
            p
              功能完善但载入缓慢，用户意兴阑珊
      .slide#slide3(data-beforeshow="slide3Before",data-aftershow="slide3After")
        .textBlock
          .textWrapper
            p#t_1
              竞争激烈的年代，战车怎能刚出发就掉链子？
            p#t_2
              您需要一位优秀的前端工程师！
      .slide#slide4
        .textBlock
          .textWrapper
            p
              解决设备和浏览器兼容问题，支持#[span.emphasis 更广泛的用户]
            p
              SEO优化提升相关搜索排名，找到#[span.emphasis 更精确的客户]
            p
              改善界面交互设计和应用逻辑，提供#[span.emphasis 更优秀的体验]
            p
              精简压缩页面均衡负载，保障#[span.emphasis 更快速的服务]
      .slide#slide5(data-beforeshow="slide5Before",data-aftershow="slide5After")
        .textBlock
          .textWrapper
            p
              给我一次机会
            p
              还您一个更好的网站！
      .slide#slide6
        .textBlock
          .textWrapper
            br
            p
              母校的培育帮助我获得多学科综合发展的#[span.emphasis 潜力]
            img#logoSchools(src="images/logo schools.png")
      .slide#slide7(data-beforeshow="slide7Before",data-aftershow="slide7After")
        .textBlock
          .textWrapper
            .logos
              img(src="images/logo tribway.png")
              img(src="images/logo tinyclues.png")
              img(src="images/logo bnp.png")
            p
              实习经历让我在实践中锻炼解决问题的#[span.emphasis 能力]
      .slide#slide8(data-beforeshow="slide8Before",data-aftershow="slide8After")
        svg#growth(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",width="800px", height="400px", viewBox="0 0 800 400", enable-background="new 0 0 800 400", xml:space="preserve")
          image(src="images/growth.svg",onerror="this.onerror=null; this.src='images/growth.png'")
          path(fill="none",stroke="#9CDEE2", stroke-miterlimit="10", d="M19.384,353.986c111.92-3.311,12.583,18.544,98.675,15.232s34.437-23.18,100-33.775s25.166,16.558,101.987,5.299s-7.285-15.232,58.94-41.723s45.695,25.828,126.49-11.258c46.822-21.492-4.602-19.194,31.822-66.876s28.443,0.65,43.675-33.787s-18.543-37.086,0-61.589s28.466-31.788-39.073,11.921")
          path(fill="none",stroke="#9DE0BD", stroke-miterlimit="10", d="M19.384,366.569c50.331,0,56.745-13.468,125.166-21.854s-6.622,17.882,74.834,10.928s103.974-34.106,158.94-48.676s36.424,12.582,92.715-12.583S477,285.112,515.41,252s21.854-6.622,48.345-33.112s-27.152-8.609,0-45.033s39.439-37.586,43.047-51.656c13.244-51.656-4.646,28.477,2.638,37.086")
          path(fill="none",stroke="#DBDD9E", stroke-miterlimit="10", d="M19.384,356.636c52.806-0.677,57.511,1.76,107.285-4.636s53.642,5.96,105.96-3.974s-30.754-7.108,49.007-23.841s121.192-20.53,162.914-39.735s55.628,9.665,98.013-41.856c42.385-51.521,27.969-79.026,46.002-109.972c38.104-65.39,12.938-12.796-42.81,3.152")
          path(fill="none",stroke="#DBA49E", stroke-miterlimit="10", d="M19.384,372.529c107.285,0.663,79.47-15.232,174.172-36.424s124.503,0,192.053-13.907s126.025-30.388,155.629-71.522s42.384-84.217,60.265-130.851s1.62,35.486,7.378,43.433")
          path(fill="none",stroke="#E57A7A", stroke-miterlimit="10", d="M19.384,348.026c88.079,0,113.908,23.841,190.729,13.907s127.551-16.438,183.443-33.112s54.237-43.912,92.715-78.146s20.928-10.861,53.643-53.643s30.69-63.791,53.643-87.417c22.517-23.179-30.464,19.868-51.656,27.815")
          path(fill="none",stroke="#9DA5E0", stroke-miterlimit="10", d="M19.384,369.562c94.04-2.992,47.939,8.403,171.652-12.857s28.563-14.636,129.672-37.154s141.473-2.043,183.444-41.722s14.572-39.325,66.227-125.623s28.643-49.369,38.502,11.053")
          path(fill="none",stroke="#9CE2A2", stroke-miterlimit="10", d="M19.384,351.338c155.962-6.739,311.326-25.148,393.377-64.9s147.93-51.484,169.148-114.35c21.219-62.867,23.838-88.3,26.971-8.829")
        .textBlock
          .textWrapper
            p
              出于兴趣持续自学每天我都在提高自己的#[span.emphasis 实力]
      .slide#slide9
        .textBlock
          .textWrapper
            p
              经验不足但我一直在学习积累#[span.emphasis ，]相信您要的一定不只是熟练工人
            p
              也许一些技术细节我没有熟记#[span.emphasis ，]但我可以快速找到恰当技术文档
            p
              面对技术空白区没有已知方案#[span.emphasis ，]我喜欢钻研的性格有助解决问题
      .slide#slide10
        .textBlock
          .textWrapper
            p
              联系我吧，踏实靠谱的人才不多了
            p(style='white-space:pre;')
              | shen.deng@polytechnique.edu
              | www.uninion.com
              | Tel: 0033 6 37 30 49 84
  div
    ul#slide-btn
      li.pageSelector
        a(href="#").active
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#")
  script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js")
  script(type="text/javascript" src="/javascripts/simplePageScroll.js")
  script.
    $("#slideContainer").simplePageScroll({
      pageSelectorID: "slide-btn",
      doBeforeEach:"resetID"
    });
    function resetID(){
      if($("#t1").length){
        $("#t1").attr("id","t_1").hide();
      }
      if($("#t2").length){
        $("#t2").attr("id","t_2").hide();

      }

    }
    function slide2Before() {
      $(".textBlock",this).hide();
    };
    function slide2After() {
      $(".textBlock",this).delay(1000).show("slow");
    };
    function slide3Before() {
      $("#t_1",this).hide();
      $("#t_2",this).hide();
    };
    function slide3After() {
      $("#t_1",this).attr("id","t1").show();
      setTimeout(function(){$("#t_2").show().attr("id","t2");},5000);
    };
    function slide5Before() {
      $(".textBlock",this).animate({
        "fontSize":"0.25em"
      },00);
    };
    function slide5After() {

      $(".textBlock",this).animate({
        "fontSize":"4em"
      },1500);
    };
    function slide7Before() {
      $("img",this).animate({
        "opacity":"0"
      },00);
    };
    function slide7After() {

      $("img",this).animate({
        "opacity":"1"
      },2000);
    };
    function slide8Before() {
      
    };
    function slide8After() {
      var paths=document.querySelectorAll("#growth path");
      for(var i=0;i<paths.length;i++){
        (function(index){
          var path = paths[index]
          var length = path.getTotalLength();
          $(path).css({
            "stroke-dasharray":length + " " + length,"stroke-dashoffset":length
          }).animate({
            "stroke-dashoffset":0
          },(index+2)*1000);
        })(i);
      }
      
    };