extends layout

block content
  .main
    #slideContainer
      .slide#slide1(data-beforeshow="slide1Before",data-aftershow="slide1After")
        .textBlock
          p
            您还认为前端只是切图和网页编辑吗？
      .slide#slide2(data-beforeshow="slide2Before",data-aftershow="slide2After")
        .textBlock
          p
            内涵丰富却布局混乱，访客望而却步
      .slide#slide3
        .textBlock
          p
            功能完善但载入缓慢，用户意兴阑珊
      .slide#slide4
        .textBlock
          p
            竞争激烈的年代，战车怎能刚出发就掉链子？
      .slide#slide5
        .textBlock
          p
            您需要一位优秀的前端工程师！
      .slide#slide6
        .textBlock
          p
            解决设备和浏览器兼容问题，支持更广泛的用户
      .slide#slide7
        .textBlock
          p
            SEO优化提升相关搜索排名，找到更精确的客户
      .slide#slide8
        .textBlock
          p
            改善界面交互设计和应用逻辑，提供更优秀的体验
      .slide#slide9
        .textBlock
          p
            精简压缩页面均衡负载，保障更快速的服务
      .slide#slide10
        .textBlock
          p
            让更广泛而精准的用户使用您优质而快速的产品服务
      .slide#slide11
        .textBlock
          p
            请让我来助您一臂之力！
      .slide#slide12
        .textBlock
          p
            母校的培育帮助我获得多学科综合发展的潜力
      .slide#slide13
        .textBlock
          p
            实习经历让我在实践中锻炼解决问题的能力
      .slide#slide14
        .textBlock
          p
            出于兴趣持续自学每天我都在提高自己的实力
      .slide#slide15
        .textBlock
          p
            初级工程师也可以有专家的梦！
      .slide#slide16
        .textBlock
          p
            经验不足但我会一直在学习积累，相信您要的一定不只是熟练工人
      .slide#slide17
        .textBlock
          p
            也许一些技术细节我会一时回答不上，但我可以快速找到应用恰当的文档
      .slide#slide18
        .textBlock
          p
            面对技术空白区没有现存方案的时候，我喜欢钻研调试的性格一定可以帮助解决问题
      .slide#slide19
        .textBlock
          p
            联系我吧，踏实靠谱的人才太少了。。。太少了。。。少了。。。了。。。
          p(style='white-space:pre;')
            | shen.deng@polytechnique.edu
            | www.uninion.com
            | Tel: 0033 6 37 30 49 84
  div
    ul#slide-btn
      li.pageSelector
        a(href="#").active
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#") 
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
      li.pageSelector
        a(href="#")
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js")
  script(type="text/javascript" src="/javascripts/simplePageScroll.js")
  script.
    $("#slideContainer").simplePageScroll({
      pageSelectorID: "slide-btn"
    });
    function slide1Before() {
      console.log(this);
      $("p",this).css("color","red");
    };
    function slide1After() {
      $("p",this).css("color","blue");
    };
    function slide2Before() {
      console.log(this);
      $("p",this).hide();
    };
    function slide2After() {
      $("p",this).show("slow");
    };