/* Palette*/

.title {
    color: #14CCA3;
}

.emphasis {
    color: #009977;
}

html {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    text-align: center;
    background: #f1f1f1;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 50px;
    }
    .nav {
        height: 50px;
        width: 100%;
    }
    .nav li {
        line-height: 50px;
        font-size: 1.5em;
        padding-left: 50px;
        padding-right: 50px;
    }
    .textBlock {
        font-size: 2.5em;
    }
    #slide4 .textBlock p {
        font-size: 0.8em;
        text-align: center;
        margin: 1em auto;
    }
    #slide9 .textBlock p {
        font-size: 0.8em;
        text-align: center;
        margin: 0.8em auto;
    }
    #slide5 .textBlock p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 30px;
    }
    .nav {
        height: 30px;
        width: 100%;
    }
    .nav li {
        line-height: 30px;
        font-size: 1.2em;
        padding-left: 30px;
        padding-right: 30px;
    }
    .textBlock {
        font-size: 1.2em;
    }
    #iceberg>img {
        width: 250px;
    }
    #slide4 .textBlock p {
        font-size: 1em;
        text-align: center;
        margin: 1em auto;
    }
    #slide9 .textBlock p {
        font-size: 0.8em;
        text-align: center;
        margin: 1em auto;
    }
    #slide5 .textBlock p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 479px) {
    body {
        padding-top: 20px;
    }
    .nav {
        height: 20px;
        width: 100%;
    }
    .nav li {
        line-height: 20px;
        font-size: 0.8em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .textBlock {
        font-size: 1em;
    }
    #iceberg>img {
        width: 250px;
    }
    #slide4 .textBlock p {
        font-size: 0.8em;
        text-align: center;
        margin: 0.8em auto;
    }
    #slide9 .textBlock p {
        font-size: 0.6em;
        text-align: center;
        margin: 0.6em auto;
    }
    #slide5 .textBlock p {
        font-size: 0.4em;
    }
}

a {
    color: #00B7FF;
}
/* nav bar */

.nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1030;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #009977;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
/* slides */

.main,
#slideContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slide {
    height: 100%;
    width: 100%;
    position: relative;
}
/* slide selector*/

#slide-btn {
    position: absolute;
    right: 10px;
    top: 20%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}

#slide-btn li {
    padding: 0;
    text-align: center;
}

#slide-btn li a {
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;
}

#slide-btn li a:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#slide-btn li a.active:before {
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid black;
    margin-top: -4px;
    left: 8px;
}
/* Slides detail*/

.textBlock {
    z-index: 20;
    position: absolute;
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}

.textBlock p {
    text-align: center;
    margin: 0 auto;
}

.textWrapper {
    display: table-cell;
    vertical-align: middle;
}

@keyframes sea1 {
    0% {
        left: 0px;
    }
    25% {
        left: -30px;
    }
    50% {
        left: -50px;
    }
    75% {
        left: -20px;
    }
    100% {
        left: 0px;
    }
}

@keyframes sea2 {
    0% {
        left: 0px;
    }
    25% {
        left: -60px;
    }
    50% {
        left: -20px;
    }
    75% {
        left: -40px;
    }
    100% {
        left: 0px;
    }
}

@keyframes iceberg {
    0% {
        left: 50%;
    }
    25% {
        left: 55%;
    }
    50% {
        left: 50%;
    }
    75% {
        left: 45%;
    }
    100% {
        left: 50%;
    }
}

.sea1 {
    z-index: 10;
    bottom: 0;
    position: absolute;
    width: 130%;
    height: 100%;
    background-image: url(/images/sea-1.png);
    background-position: bottom;
    background-repeat: repeat-x;
    animation-name: sea1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.sea2 {
    z-index: 12;
    bottom: 0px;
    position: absolute;
    width: 130%;
    height: 100%;
    background-image: url(/images/sea-2.png);
    background-position: bottom;
    background-repeat: repeat-x;
    animation-name: sea2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.iceberg {
    z-index: 11;
    bottom: 0px;
    position: absolute;
    animation-name: iceberg;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

#badDesign {
    height: 30%;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#slide3 .textBlock {
    background-image: url(/images/tank.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#t1 {
    border-right: .1em solid;
    width: 20em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(20, end), blink-caret .5s step-end infinite alternate;
}

#t2 {
    border-right: .1em solid;
    width: 14em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(14, end), blink-caret .5s step-end infinite alternate;
}

#logoSchools {
    max-width: 80%;
    max-height: 50%;
    margin: 5%;
}

.logos {
    width: 100%;
    height: 60%;
}

.logos img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 30%;
}

#slide8 .textBlock {
    z-index: 15;
    position: absolute;
}

#growth {
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0;
    z-index: 14;
}

#slide8 {
    background-color: rgba(00, 99, 77, 0.1);
}

#slide9 {
    background-color: rgba(00, 99, 77, 0.25);
}

#slide10 {
    background-color: rgba(00, 99, 77, 0.5);
}

.pageNormal {
    height: 100%;
    overflow: scroll;
}

.contact,
.about {
    margin-bottom: 10%;
}

.centerLeft {
    line-height: 150%;
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
}

.errorPage {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(00, 99, 77, 0.8);
    position: absolute;
    display: table;
    text-align: center;
}

.errorPage h1 {
    margin: 0;
}

.page404 {
    height: 50%;
    display: table-cell;
    vertical-align: middle;
}
